*{
    margin: 0;
    font-family: Galindo ;
    color: #533B4D;
}
.wrapper{
    display: flex;
    height: 100vh;
}
.left-section{
    background: #F564A9;
    width: 50%;
}
.right-section{
    background: #FAE3C6;
    width: 90%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.form{
    display: flex;
    flex-wrap: wrap;
}